    body, html {
        height: 100%;
    }
    #contenedor-principal{
        margin-top: 72px;
        height: 100%;
    }
    #fila-principal{
        height: 100%;
    }
    .columna{
    }
    #centro{
    }
    #izquierda{
    }
    #derecha{
    }
    #entrada-publicacion{
        margin: 20px 0px;
    }
    .publicacion{
        padding-right:0px;
        padding-left:0px;
    }
    .contenido{
        background-color:#222;
        color: white;
    }
    .entrada-comentario{
        margin-top:5px;
    }
    .perfil{
        margin: 20px 0px;
    }
    .estadistica{
        text-align: center;
    }
    .amigos{
       margin: 20px 0px;
    }

    @media (max-width: 992px) {
        .costado{
            display: none;
        }
        #centro{
            width:100%
        }
    }
