    body, html {

    }
    #contenedor-principal{
        margin-top: 72px;
        height: 100%;
    }
    #fila-principal{
        height: 100%;
    }
    .columna{
    }
    #centro{
    }
    #izquierda{
    }
    #derecha{
    }

    #rower{
        display: none;
    }

    /* HOME */

    #entrada-publicacion{
        margin: 20px 0px;
    }
    #publicaciones{
        padding-right:0px;
        padding-left:0px;
    }
    .contenido{
        background-color:#222;
        color: white;
    }
    .entrada-comentario{
        margin-top:5px;
    }
    #perfil{
        margin: 20px 0px;
    }
    .estadistica{
        text-align: center;
    }
    #entrada-busqueda{
       margin: 20px 0px;
    }
    .iconos .btn {
        padding: 0;
        border-radius: 50%;
    }
    .iconos .fa-1 {
        font-size: 1rem;
    }
    .iconos .fa-3 {
        font-size: 3rem;
    }
    .boton-icono-success{
        color: #77b300;
    }
    .boton-icono-secondary{
        color: #555;
    }
    .boton-largo{
        width:100%;
    }

    /* LOGIN, REGISTER & CONFIG */

    .login, .register, .config{
        margin: 20px 0px;
        padding-right:0px;
        padding-left:0px;
    }
    .fila-register, .fila-login, .fila-config{
        height: 70vh;
        display:none;
    }

    /* HOVER */

    .boton-icono-success:hover {
        color: #659800;
    }

    .boton-icono-secondary:hover {
        color: #484848;
    }

    /* ACTIVE */

    .btn.boton-icono-success:active{
        color: #659800;
    }

    .btn.boton-icono-secondary:active{
        color: #484848;
    }

    /* MEDIA */

    @media (max-width: 992px) {
        .costado{
            display: none;
        }
        #centro{
            width:100%
        }
    }

    /* DISPLAY */

    .fila-home, .fila-izquierda, .fila-derecha{
        display: show;
    }
    .fila-login{
        display:none;
    }
    .fila-register{
        display:none;
    }
    .fila-config{
        display:none;
    }

