<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post it!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cyborg/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Post it!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" id="nav-link-registrarse">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-loguearse">Loguearse</a>
        </li>
      </ul>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" id="logout" href="#">Cerrar sesión</a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid" id="contenedor-principal">
  <div class="row" id="fila-principal">
    <!----------------------IZQUIERDA-PERFIL---------------------->
    <div class="col-lg-3 columna costado" id="izquierda">
      <div class="container-fluid">
        <div class="row fila-izquierda">
          <div class="card mb-3 pt-3 pb-3" id="perfil">
            <div class="card-body">
              <h4 class="card-title" id="nombrePersonaPerfil"></h4>
              <h6 class="card-subtitle mb-2 text-muted" id="nombreCuentaPerfil"></h6>
              <hr>
              <p id="descripcionPerfil">lfajsofjaosjfopajsofjaosfjoajsofjaosjfoajsofjaojsf</p>
              <hr>
              <div class="row estadisticas">
                <div class="col-6 estadistica">
                  <div id="cantidadAmigosPerfil"></div>
                  <div>Amigos</div>
                </div>
                <div class="col-6 estadistica">
                  <div id="cantidadPublicacionesPerfil"></div>
                  <div>Posts</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 pt-3 pb-3" id="amigos">
            <div class="card-body">
              <h4 class="card-title">Amigos</h4>
              <hr>
              <ul class="list-group" id="lista-amigos">
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------------------CENTRO-PUBLICACIONES---------------------->
    <div class="col-lg-6 columna" id="centro">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center fila-login">
          <div class="card mb-3 login">
            <h3 class="card-header">Iniciar sesión</h3>
            <div class="card-body">
              <div class="row">
                <form id="login-form" >
                  <div class="mb-3">
                    <input type="text" class="form-control" name="login-email" placeholder="Correo electronico">
                  </div>
                  <div class="mb-3">
                    <input type="password" class="form-control" name="login-password" placeholder="Contraseña">
                  </div>
                  <button class="btn btn-success boton-largo" type="submit">Loguear</button>
                </form>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <button class="btn btn-warning boton-largo" id="google-login" type="submit">Google</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn btn-primary boton-largo" type="submit">Facebook</button>
                </div>
              </div>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center fila-register">
          <div class="card mb-3 register">
            <h3 class="card-header">Crear una cuenta</h3>
            <div class="card-body">
              <div class="row">
                <form id="register-form">
                  <div class="mb-3">
                    <input type="text" class="form-control" name="register-email" placeholder="Correo electronico">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" name="register-password" placeholder="Contraseña">
                  </div>
                  <button class="btn btn-success boton-largo" type="submit">Registrar</button>
                </form>
              </div>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center fila-config">
          <div class="card mb-3 config">
            <h3 class="card-header">Configurar cuenta</h3>
            <div class="card-body">
              <div class="row">
                <form id="configuration-form">
                  <div class="mb-3">
                    <input type="text" class="form-control" name="nombreCuenta" placeholder="Nombre de cuenta">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" name="nombrePersona" placeholder="Nombre de usuario">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" name="descripcion" placeholder="Descripción">
                  </div>
                  <button class="btn btn-success boton-largo" id="boton-config" type="submit">Configurar</button>
                </form>
              </div>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <div class="row fila-home">
          <div class="card mb-3 pt-3 pb-3" id="entrada-publicacion">
            <form>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Post it!">
                <button class="btn btn-success" type="button">Publicar</button>
              </div>
            </form>
          </div>
          <div id="publicaciones">
            <div class="card mb-3 publicacion">
              <div class="card-header">
                <div class="row">
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <div class="me-2">Name</div>
                      <div class="me-2">•</div>
                      <div class="me-2">@User</div>
                      <div class="me-2">•</div>
                      <div class="me-2">2 minutes ago</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body contenido">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div class="card-footer comentarios">
                <div class="entrada-comentario">
                  <form>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Comment it!">
                      <button class="btn btn-success" type="button">Publicar</button>
                    </div>
                  </form>
                </div>
                <hr>
                <ul class="list-group lista-comentarios">
                  <li class="list-group-item comentario">Cras justo odio</li>
                  <li class="list-group-item comentario">Dapibus ac facilisis in</li>
                  <li class="list-group-item comentario">Vestibulum at eros</li>
                </ul>
              </div>
            </div>
            <div class="card mb-3 publicacion">
              <div class="card-header">
                <div class="row">
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <div class="me-2">Name</div>
                      <div class="me-2">•</div>
                      <div class="me-2">@User</div>
                      <div class="me-2">•</div>
                      <div class="me-2">2 minutes ago</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body contenido">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div class="card-footer comentarios">
                <div class="entrada-comentario">
                  <form>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Comment it!">
                      <button class="btn btn-success" type="button">Publicar</button>
                    </div>
                  </form>
                </div>
                <hr>
                <ul class="list-group lista-comentarios">
                  <li class="list-group-item comentario">Cras justo odio</li>
                  <li class="list-group-item comentario">Dapibus ac facilisis in</li>
                  <li class="list-group-item comentario">Vestibulum at eros</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------------------DERECHA-AMIGOS---------------------->

    <div class="col-lg-3 columna costado" id="derecha">
      <div class="container-fluid">
        <div class="row fila-derecha">
          <div class="card mb-3 pt-3 pb-3" id="entrada-busqueda">
            <form id="buscar-form">
              <div class="input-group">
                <input type="text" class="form-control" id="input-buscar"  placeholder="Search friends!">
                <button class="btn btn-success" type="submit">Buscar</button>
              </div>
            </form>
          </div>
          <div class="card mb-3 pt-3 pb-3" id="resultados">
            <div class="card-body">
              <h4 class="card-title">Resultados</h4>
              <hr>
              <ul class="list-group lista-comentarios" id="lista-resultados">

              </ul>
            </div>
          </div>
          <div class="card mb-3 pt-3 pb-3" id="sugerencias">
            <div class="card-body">
              <h4 class="card-title">Sugerencias</h4>
              <hr>
              <ul class="list-group" id="lista-sugerencias">
                <li class="list-group-item d-flex justify-content-between align-items-center comentario">
                  <div>Pepe</div>
                  <div class="iconos">
                    <button class="btn btn-link boton-icono-success" type="button">
                      <i class="fa fa-1 fa-check-circle agregarAmigo"></i>
                    </button>
                    <button class="btn btn-link boton-icono-secondary" type="button">
                      <i class="fa fa-1 fa-circle-xmark quitarPersona"></i>
                    </button>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center comentario">
                  <div>Pepe</div>
                  <div class="iconos">
                    <button class="btn btn-link boton-icono-success" type="button">
                      <i class="fa fa-1 fa-check-circle agregarAmigo"></i>
                    </button>
                    <button class="btn btn-link boton-icono-secondary" type="button">
                      <i class="fa fa-1 fa-circle-xmark quitarPersona"></i>
                    </button>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center comentario">
                  <div>Pepe</div>
                  <div class="iconos">
                    <button class="btn btn-link boton-icono-success" type="button">
                      <i class="fa fa-1 fa-check-circle agregarAmigo"></i>
                    </button>
                    <button class="btn btn-link boton-icono-secondary" type="button">
                      <i class="fa fa-1 fa-circle-xmark quitarPersona"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script src="../static/js/main.js" type="module"></script>
<script src="../static/js/solicitudes.js" type="module"></script>
</body>
</html>


