<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post it!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cyborg/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Post it!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" >Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Loguearse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" id="contenedor-principal">
  <div class="row" id="fila-principal">
    <!----------------------IZQUIERDA-PERFIL---------------------->
    <div class="col-lg-3 columna costado" id="izquierda">
      <div class="container-fluid">
        <div class="row">

        </div>
      </div>
    </div>
    <!----------------------CENTRO-PUBLICACIONES---------------------->
    <div class="col-lg-6 columna" id="centro">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center fila-form-login">

          <div class="card mb-3 login">
            <h3 class="card-header">Crear una cuenta</h3>
            <div class="card-body">
              <div class="row">
                <form id="register-form">
                  <div class="mb-3">
                    <input type="text" class="form-control" name="register-email" placeholder="Correo electronico">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" name="register-password" placeholder="Contraseña">
                  </div>
                  <button class="btn btn-success boton-largo boton-login" type="submit">Registrar</button>
                </form>
              </div>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------------------DERECHA-AMIGOS---------------------->

    <div class="col-lg-3 columna costado" id="derecha">
      <div class="container-fluid">
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script src="../static/js/login.js" type="module"></script>
</body>
</html>


